.contenido {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(8, 12, 38, 0.9), rgba(29, 64, 54, 0.9));
}

.cuadro-contenido {
    width: 80vw;
    height: 80vh;
    background-image: linear-gradient(to bottom left, rgba(61, 115, 80, 0.9), rgba(8, 12, 38, 0.9)), url('../media/img/Aseo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideBg 20s infinite 0s;
    animation-timing-function: ease-in-out;
}

.leftAboutUs {
    height: 80vh;
    max-width: 40%;
    backdrop-filter: blur(20px);
    padding-top: 3rem;
    padding-left: 18rem;
    color: white;
    -webkit-text-stroke: 2px green;
}

.aboutUsSanity {
    color: white;
    -webkit-text-stroke: 4px green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8rem;
    font-weight: 700;
    position: absolute;
    margin-top: -80vh;
    margin-left: 19.2vw;
}

.aboutUsKing {
    margin-top: -80vh;
    margin-left: 78vh;
    color: green;
    -webkit-text-stroke: 3px white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8rem;
    font-weight: 700;
    position: absolute;
}

.rightAboutUs {
    width: 40vw;
    height: 80vh;
    margin-left: 32vw;
    margin-top: -80vh;
}

.aboutUsTitle{
    position: absolute;
    margin-top: -45rem;
    margin-left: 4rem;
    color: white;
    font-size: 5rem;
}

.aboutUsParaf{
    position: absolute;
    color: white;
    margin-top: -38rem;
    margin-left: 5.5rem;
    margin-right: 56rem;
    font-size: 2rem;
}

.logoCarousel{
    width: 29vw;
    height: 53vh;
    background-color: white;
    position: absolute;
    margin-left: 48vw;
    margin-top: -65vh;
    border-radius: 50%;
    border: 5px solid green;
    box-shadow: 5px 10px 20px rgba(8, 12, 38, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*BORRAR*/
.sLogo{
    margin-left: 2rem;
    color: white;
    -webkit-text-stroke: 2px green ;
    text-shadow: 2px 3px 10px rgba(8, 12, 38, 0.9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15rem;
    font-weight: 700;
}
/*BORRAR*/
.kLogo{
    color: green;
    -webkit-text-stroke: 2px white ;
    text-shadow: 2px 3px 10px rgba(8, 12, 38, 0.9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15rem;
    font-weight: 700;
}
/*BORRAR*/
.logoWord{
    margin-top: 20vh;
}


@media (max-width: 1440px) {
    .contenido {
        padding-top: 5vh;        
    }

    .cuadro-contenido {
        width: 85vw;
        height: 85vh;
    }
    
    .leftAboutUs {
        height: 85vh;
        max-width: 40%;
    }
    
    .aboutUsSanity {
        font-size: 5rem;
        margin-top: -80vh;
        margin-left: 20vw;
        -webkit-text-stroke:3.5px green;
    }
    
    .aboutUsKing {
        margin-top: -80vh;
        margin-left: 43vw;
        font-size: 5rem;
        -webkit-text-stroke: 2.5px white;
    }

    .aboutUsTitle{
        position: absolute;
        margin-top: -24rem;
        margin-left: 4rem;
        color: white;
        font-size: 2.8rem;
    }
    
    .aboutUsParaf{
        position: absolute;
        color: white;
        margin-top: -19rem;
        margin-left: 4.5rem;
        margin-right: 35rem;
        font-size: 1.1rem;
    }

    .logoCarousel{
        width: 23.5vw;
        height: 53vh;
        background-color: white;
        position: absolute;
        margin-left: 58vw;
        margin-top: -65vh;
        border-radius: 50%;
        border: 5px solid green;
        box-shadow: 5px 10px 20px rgba(8, 12, 38, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*BORRAR*/
    .sLogo{
        margin-left: 5rem;
        color: white;
        -webkit-text-stroke: 2px green ;
        text-shadow: 2px 3px 10px rgba(8, 12, 38, 0.9);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 8rem;
        font-weight: 700;
    }
    /*BORRAR*/
    .kLogo{
        color: green;
        -webkit-text-stroke: 2px white ;
        text-shadow: 2px 3px 10px rgba(8, 12, 38, 0.9);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 8rem;
        font-weight: 700;
    }
    
}

@media (max-width: 1335px) {

    .cuadro-contenido {
        width: 87vw;
        height: 80vh;
    }
    
    .leftAboutUs {
        height: 80vh;
        max-width: 40%;
    }
    
    .aboutUsSanity {
        font-size: 5rem;
        margin-top: -75vh;
        margin-left: 20vw;
    }
    
    .aboutUsKing {
        margin-top: -75vh;
        margin-left: 44.2vw;
        font-size: 5rem;
    }
    
    .aboutUsTitle{
        position: absolute;
        margin-top: -23rem;
        margin-left: 4rem;
        color: white;
        font-size: 2rem;
    }

    .aboutUsParaf{
        position: absolute;
        color: white;
        margin-top: -20rem;
        margin-left: 4.5rem;
        margin-right: 32rem;
        font-size: 1.3rem;
    }

    .logoCarousel{
        width: 27vw;
        height: 55vh;
        background-color: white;
        position: absolute;
        margin-left: 56vw;
        margin-top: -60vh;
        border-radius: 50%;
        border: 5px solid green;
        box-shadow: 5px 10px 20px rgba(8, 12, 38, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*BORRAR*/
    .sLogo{
        margin-left: 5rem;
        color: white;
        -webkit-text-stroke: 2px green ;
        text-shadow: 2px 3px 10px rgba(8, 12, 38, 0.9);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 8rem;
        font-weight: 700;
    }
    /*BORRAR*/
    .kLogo{
        color: green;
        -webkit-text-stroke: 2px white ;
        text-shadow: 2px 3px 10px rgba(8, 12, 38, 0.9);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 8rem;
        font-weight: 700;
    }
}

@media (max-width: 1024px) {

    .cuadro-contenido {
        width: 87vw;
        height: 80vh;
    }
    
    .leftAboutUs {
        height: 80vh;
        max-width: 40%;
    }
    
    .aboutUsSanity {
        font-size: 4.5rem;
        margin-top: -75vh;
        margin-left: 20vw;
    }
    
    .aboutUsKing {
        margin-top: -75vh;
        margin-left: 48.5vw;
        font-size: 4.5rem;
    }
    
    .aboutUsTitle{
        position: absolute;
        margin-top: -23rem;
        margin-left: 4rem;
        color: white;
        font-size: 2rem;
    }

    .aboutUsParaf{
        position: absolute;
        color: white;
        margin-top: -20rem;
        margin-left: 4.5rem;
        margin-right: 27rem;
        font-size: 1rem;
    }

    .logoCarousel{
        width: 31vw;
        height: 50vh;
        background-color: white;
        position: absolute;
        margin-left: 53vw;
        margin-top: -60vh;
        border-radius: 50%;
        border: 5px solid green;
        box-shadow: 5px 10px 20px rgba(8, 12, 38, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*BORRAR*/
    .sLogo{
        margin-left: 5rem;
        color: white;
        -webkit-text-stroke: 2px green ;
        text-shadow: 2px 3px 10px rgba(8, 12, 38, 0.9);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 8rem;
        font-weight: 700;
    }
    /*BORRAR*/
    .kLogo{
        color: green;
        -webkit-text-stroke: 2px white ;
        text-shadow: 2px 3px 10px rgba(8, 12, 38, 0.9);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 8rem;
        font-weight: 700;
    }
}



@keyframes slideBg {
    33% {
        background-image: linear-gradient(to bottom left, rgba(61, 115, 80, 0.9), rgba(8, 12, 38, 0.9)), url('../media/img/Arcabuco.jpg');
    }

    66% {
        background-image: linear-gradient(to bottom left, rgba(61, 115, 80, 0.9), rgba(8, 12, 38, 0.9)), url('../media/img/Mantenimiento.jpg');
    }

    100% {
        background-image: linear-gradient(to bottom left, rgba(61, 115, 80, 0.9), rgba(8, 12, 38, 0.9)), url('../media/img/Plagas.jpeg');
    }
}


